#  runtime files (should only exist in preview, not in git)
___runtime_loader.js
___devtools.tsx
___jsx-dev-runtime.ts
instrumentation-client.js
instrumentation-client.ts

# Common ignores
node_modules/
.next/
.env*.local
.DS_Store
